
form>.mb-3>label {
    padding-bottom: 7px;
}

form {
    background-image: url('/static/images/services-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    border-radius: 24px;
}

form>.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--text-light);
    color: var(--text-light);
}


form>.btn-primary:hover {
    background-color: var(--text-light);
    border-color: var(--text-light);
    color: var(--primary-color);
}


form>.btn-primary:active {
    background-color: var(--text-light);
    border-color: var(--text-light);
    color: var(--primary-color);
}