:root {
            --primary-color: #252736;
            --accent-color: #b8ff00;
            --bg-dark: #252736;
            --text-light: #dadbdf;
            --achivment: #ffff00
        }


        
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 3s ease-out;
    -webkit-transition: opacity 3s ease-out;
    -moz-transition: opacity 3s ease-out;
    -ms-transition: opacity 3s ease-out;
    -o-transition: opacity 3s ease-out;
}

.loader::before {
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid #b8ff00;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}

.section-title {
    margin-bottom: 5%;
}

.border {
    border: 10px solid var(--accent-color);
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
}

.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: all 2.5s ease-out;
  -webkit-transition: all 2.5s ease-out;
  -moz-transition: all 2.5s ease-out;
  -ms-transition: all 2.5s ease-out;
  -o-transition: all 2.5s ease-out;
}


.bg-grey2 {
    background-color: var(--primary-color);
}

.bg-1 {
    background-color: var(--accent-color);
}

.bg-2 {
    background-image: url('/static/images/professionals.jpg');
    background-size: 100% 200%;
    background-position: 10%;
    background-repeat: no-repeat;

    content: "";
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

div.bg-3 {
    background-color: #7e52ff;
}

.bg-4 {
    background-color: #dadbdf;
}

.usl {
    height: 250px;
}


.services-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    rotate: 90deg;
    background-image: url('/static/images/services-bg.jpg');
    filter: blur(8px);
    z-index: -1;
    -webkit-filter: blur(8px);
}


.header, .contact, .about, .professionals-bg {
    background-color: var(--primary-color);
}




.about-container {
    margin-left: 12%;
}

.about-row {
    width: auto;
}





.title {
    font-family: "LastfunkPlain";
}

.title-header {
    font-family: "LastfunkPlain";
    color: var(--text-light);
}

.title-footer {
    font-family: "LastfunkPlain";
    color: var(--text-light);
}

.title-footer:hover {
    color: var(--accent-color);
}

.loader-title {
    font-family: "LastfunkPlain";
    color: var(--accent-color);
    margin-left: 15px;
}

/* Иконки соцсетей */
.fab, .fas {
    font-size: 18px;
    transition: color 0.3s;
}

/* Адаптивность для контактов */
@media (max-width: 768px) {
    .d-md-block {
        display: none !important;
    }
}

.navbar-nav {
  margin-right: 7.5%;
  padding-left: 0;
  justify-content: center;
}


.display-3{
    color: var(--text-light);
}

.lead {
    color: var(--text-light);
    opacity: 50;
}

.roundedd {
    height: 300px;
    width: 330px;
    border-radius: 35%;
    -webkit-border-radius: 35%;
    -moz-border-radius: 35%;
    -ms-border-radius: 35%;
    -o-border-radius: 35%;
}






.century-gotic {
    font-family: 'Century Gotic';
}

.century-gotic-bold {
    font-family: 'Century Gotic Bold';
}





.text-grey2, .text-grey2-50 {
    color: var(--primary-color);
}

.text-green2, .text-green2-50 {
    color: var(--accent-color);
}

.text-white2, .text-white2-50{
    color: var(--text-light);
}



.btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--primary-color);
    transition: all 0.3s;
}

.btn-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--accent-color);
    color: var(--accent-color);
}


.nav-link:hover, .title-header:hover {
    color: var(--accent-color);
}


.header-application:hover{
    color: var(--text-light);
}





.team-img {
    width: 30%;
    height: 30%;
    position: relative;
    margin-left: 12%;
    margin-right: 5%;
}






footer {
    position: static;
    bottom: 0px;
    background-color: var(--bg-dark);
    height: auto;
    width: auto;
    justify-content: center;
}

footer > .container {
    justify-content: center;
}

.bg-footer {
    background-color: var(--bg-dark)
}


.contact-but:hover{
    color: var(--primary-color);
    background-color: #dadbdf;
    border-color: #dadbdf;
}



.footer-section {
    min-height: 65vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    /* margin-top: 15%; */
}


.header-section {
    min-height: 70vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    color: var(--accent-color);
    /* margin-top: 15%; */
}

h1.we {
    margin-top: 10px;
    font-size: 60px;
    padding-top: 100px;
    background-image: url('/static/images/stars.png');
    background-position: right center;
    background-size: 150px 150px;
    background-repeat: no-repeat;
}

h1.professionals {
    margin-top: 10px;
    font-size: 33px;
    padding-top: 120px;
    color: #fff;
}

h1.wed {
    margin-top: 10px;
    font-size: 33px;
    padding-top: 120px;
    color: #fff;
}

h1.result {
    margin-top: 10px;
    font-size: 33px;
    padding-top: 120px;
}


/* 
.results-section-bg::before {
    background-image: url('/images/results-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    filter: blur(2px);
    z-index: -1;
    background-color: #252736;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */



.bg-services {
    background-image: url('/static/images/services-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    width: 350px;
}

.custom-button {
  display: inline-block;
  padding: 14px 14px;
  background: var(--accent-color);
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 90%;
}

.custom-button:hover {
  background: var(--primary-color); /* Темнее желтый */
  color: var(--text-light);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.custom-button .fas {
  transition: transform 0.3s ease;
}

.custom-button:hover .fas {
  transform: translateX(4px); /* Анимация стрелки */
}



.title {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

/* Анимация мигания точки */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 4px;
  margin-bottom: 0;
  background-color: currentColor;
  border-radius: 50%;
  animation: blink 1s infinite;
}



div.minimal-description {
     line-height: 1.2;
}

.col-md-1 {
    height: auto;
    width: auto;
}

span.rpd-title {
    margin: 0;
}































@font-face {
    font-family: 'LastfunkPlain';
    src: url('/static/fonts/LastfunkPlain-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gotic';
    src: url('/static/fonts/centurygothic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gotic Bold';
    src: url('/static/fonts/centurygothic_bold.ttf');
    font-weight: normal;
    font-style: normal;
}
